@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* Colors */
:root {
  --pureBlack: hsl(0, 0%, 0%);
  --lightGrey: hsl(0, 0%, 87%);
  --pureWhite: hsl(0, 0%, 100%);
  --accentColor: linear-gradient(#5a77ff, #bc7198, #ffc593);
}
/* Global Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "DM Sans", sans-serif;
}

/* Heading Styles */
h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 4.17px;
  line-height: 4.8rem;
}
main {
  height: auto;
}

.h1--white {
  color: white;
}
h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
h4 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
}
h5 {
  font-weight: 400;
  font-size: 1.3rem;
}
.copywrite {
  color: gray;
  font-size: 15px;
  font-weight: 400;
}
/* Simple Components */
a {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.btn-arrow {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.25s;
}
.btn-arrow:hover {
  text-decoration: underline;
}
.btn-arrow--white {
  color: white;
}
.btn-arrow-icon {
  margin-left: 1.6rem;
}
.btn {
  text-transform: uppercase;
  width: 15.8rem;
  height: 4rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border: none;
  padding: 1.2rem 2.4rem;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.btn--black {
  background-color: var(--pureBlack);
  color: var(--pureWhite);
}
.btn--black:hover {
  background-color: var(--lightGrey);
  color: var(--pureBlack);
}
.btn--white {
  background-color: var(--pureWhite);
  color: var(--pureBlack);
}
.btn--white:hover {
  background-color: var(--lightGrey);
  color: var(--pureBlack);
}

/* NavBar Styles */
nav {
  position: relative;
  width: 100%;
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__links {
  list-style: none;
  display: flex;
}
.nav__links > li:not(:last-child) {
  margin-right: 3.6rem;
}
.nav__link:hover {
  color: var(--lightGrey);
}
.fullscreen-nav {
  transition: all 0.25s ease-in-out;
}
.mobile-menu {
  background-color: transparent;
  border: none;
  display: none;
  transform: scale(0);
  cursor: pointer;
}
.mobile-dropdown {
  justify-content: space-between;
  padding: 3.2rem;
  width: 100%;
  min-width: 37.5rem;
  height: 25.3rem;
  background-color: white;

  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  z-index: 420;
}
.dropdown-links {
  text-align: center;
}
.dropdown-links a {
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
}
.dropdown-links li:not(:last-child) {
  margin-bottom: 2rem;
}
.dropdown-divider {
  /* margin: 2rem 0; */
  height: 1px;
  align-self: stretch;
  background-color: gray;
}
.dropdown-btn {
  width: 100% !important;
}
@media only screen and (max-width: 630px) {
  nav {
    padding: 0 2.4rem;
    justify-content: space-between;
  }
  .fullscreen-nav {
    transform: scale(0);
    display: none;
  }
  .mobile-menu {
    display: inline-block;
    transition: all 0.25s ease-in-out;
    transform: scale(1);
  }
}
/* Home Page Styles */
.home-section {
  height: 60rem;
  display: flex;
}

.home-section-text {
  flex-grow: 1;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.text-wrapper {
  width: 38.7rem;
}
.text-wrapper h1 {
  margin-bottom: 2.1rem;
}
.text-wrapper p {
  margin-bottom: 4.8rem;
}
.home-section--hero {
  background-color: var(--pureBlack);
  color: white;
  height: 65rem;
  width: 100%;
}
.home-section--hero p {
  color: var(--lightGrey);
}

.section-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.story-img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.feature-img-wrapper {
  flex-basis: 56%;
  background-color: gainsboro;
}
.section-img-wrapper--home-hero {
  flex-basis: 56%;
  background-color: gainsboro;
}
@media only screen and (max-width: 800px) {
  .section-img-wrapper--home-hero {
    flex-basis: 35%;
    background-color: gainsboro;
  }
}
.section-img-wrapper--home-2 {
  flex-basis: 56%;
  background-color: gainsboro;
}

/* Stories Wrapper */
.stories-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 800px) {
  .stories-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.story-wrapper {
  cursor: pointer;
  position: relative;
  width: 100%;
  transition: all 0.25s ease-in-out;
}
.story-wrapper:hover {
  transform: translateY(-30px);
}
.story-wrapper:hover .accent-bottom {
  opacity: 1;
}

.accent-bottom {
  transition: all 0.25s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 8px;
  background-image: linear-gradient(#5a77ff, #bc7198, #ffc593);
}
.story-img {
  width: 100%;
}
.story-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 4rem 4rem 4rem;
  background-image: linear-gradient(transparent, rgba(0, 0, 0));

  height: 65%;
  width: 100%;
}
.story-text h3 {
  color: var(--pureWhite);
}
.story-text h5 {
  color: var(--pureWhite);
}
.story-divider {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 1.6rem 0 2rem 0;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center;

  background-color: var(--pureBlack);
  width: 100%;
  height: 25rem;
  padding: 6.4rem 16.4rem 6.4rem 17.1rem;
}
@media only screen and (max-width: 800px) {
  footer {
    padding: 6.4rem 4rem 6.4rem 4rem;
  }
}

/* .footer-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
} */
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: [logo-start] max-content [logo-end links-start] max-content [links-end] 1fr;
  grid-template-rows: max-content 8.5rem max-content;
}
@media only screen and (max-width: 800px) {
  .footer-content {
    grid-template-columns: [logo-start] max-content [logo-end links-start] max-content [links-end];
    justify-content: center;
  }
}

.footer-logo {
  margin-right: 10.9rem;
}
.footer-logo-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10.9rem;
  height: 100%;
  width: max-content;
}
.footer-links {
  grid-column: links-start / links-end;
  grid-row: 1 / 4;
}
@media only screen and (max-width: 800px) {
  .footer-links {
    grid-column: 1/2;
    grid-row: 2 /3;
    display: flex;
    margin-top: 3.2rem;
  }
  .footer-links > * {
    height: 16px;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-links > li:not(:last-child) {
    margin-right: 2.6rem;
  }
}
.footer-links > li:not(:last-child) {
  height: 16px;
  margin-bottom: 1.9rem;
}
.footer__link {
  color: var(--pureWhite);
}
.footer__link:hover {
  color: gray;
}

.social-icons {
  grid-row: 3 / 4;
  width: 15.4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.copywrite-container {
  grid-row: 1 / 4;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  height: 100%;
  width: max-content;
}

/* Info Section */
.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 47.6rem;
}
.info-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  max-width: 111rem;
  height: auto;
  margin: 0 auto;
  row-gap: 10.4rem;
}
@media only screen and (max-width: 800px) {
  .features-info-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 7.2rem;
  }
  .features-info-wrapper > .info-card {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 800px) {
  .info-wrapper {
    grid-template-columns: 1fr;
  }
  .info-card:first-child {
    margin-top: 12rem;
  }
  .info-card:last-child {
    margin-bottom: 12rem;
  }
}
/* Card */
.info-card {
  max-width: 35rem;
  height: 21.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info-card h3 {
  margin: auto 0 1.6rem 0;
}
.info-card p {
  text-align: center;
}

/*! Stories Page Styles */
.stories-hero {
  position: relative;
  width: 100%;
  height: 75rem;
  display: flex;
  align-items: center;
}

.stories-hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories-hero-text-wrapper {
  display: flex;
  z-index: 10;
  height: 100%;
  width: 72rem;
  padding: 12.2rem 0 12.2rem 11.2rem;
  transition: all 0.25s ease-in-out;
}

.stories-hero-subtitle {
  text-transform: uppercase;
}
.stories-hero-text {
  color: var(--lightGrey);
  width: 38.7rem;
}
.gradient {
  transition: all 0.25s ease-in-out;
  background-image: linear-gradient(
    to right top,
    hsla(28, 100%, 79%, 0.5),
    hsla(329, 36%, 59%, 0.5),
    hsla(229, 100%, 68%, 0.5),
    transparent 50% 100%
  );
}

.stories-hero-text h4,
h1,
span {
  color: var(--pureWhite);
}
.stories-hero-text h4,
.stories-hero-text-paragraph {
  margin-bottom: 2.4rem;
}
.stories-hero-text h1 {
  margin-bottom: 1.6rem;
}
/* .stories-hero-text-paragraph{
  margin-bottom: margin-bottom: 2.4rem;;
} */

/* Features Styles */
.features-info-section {
  width: 100%;
  height: fit-content;
  padding-top: 16rem;
  padding-bottom: 16rem;
}
@media only screen and (max-width: 800px) {
  .features-info-section {
    padding: 11.2rem 3.8rem;
  }
}

/* Beta Styles */
.beta-section {
  background-image: url("./assets/shared/desktop/bg-beta.jpg");
  width: 100%;
  height: 32.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .beta-section {
    padding: 0 3.9rem;
  }
}
.beta-section-text-wrapper {
  margin: 0 auto;
  width: 111rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.beta-section-text-wrapper h1 {
  max-width: 40rem;
}
/* Plans Section */
.plans {
  min-height: 83rem;
  padding: 12rem 0 16rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans-wrapper {
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .plans-wrapper {
    width: 100%;
    margin: 0 3.9rem;
  }
}
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  color: gray;
}
/* Toggle Button */
.toggle-label::before {
  margin: 0 3.2rem;
}
input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  /* left: -9000px;
  top: -9000px; */
}
input[type="checkbox"].toggle + label {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
/* label + input[type="checkbox"].toggle:checked {
  color: var(--lightGrey);
} */

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 6.4rem;
  height: 3.2rem;
  background-color: #dfdfdf;
  border-radius: 1em;
  transition: all 0.25s ease-in-out;
}
input[type="checkbox"].toggle + label::after {
  position: absolute;
  left: 4px;
  transform: translateX(134%);
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background-color: black;
  border-radius: 100%;
  transition: all 0.25s ease-in-out;
}
input[type="checkbox"].toggle:focus + label::before {
  outline: 1px solid black;
}

/* Checked State */
input[type="checkbox"].toggle:checked + label::after {
  left: 3.7rem;
  background-color: white;
}
input[type="checkbox"].toggle:checked + label::before {
  background-color: black;
}
.label--active {
  color: black;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 4.8rem;
}
@media only screen and (max-width: 800px) {
  .cards-wrapper {
    flex-direction: column;
  }
}
.plan-card {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.plan-details-wrapper {
  width: 100%;
  text-align: center;
}
.plan-details-wrapper h2 {
  margin-bottom: 1.8rem;
}
.price-details-wrapper {
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .plan-card {
    height: 27rem !important;
    padding: 4rem !important;
    width: 100%;
    max-width: 100% !important;
    display: grid;
    grid-template-columns: [plan-details-start] 270px [plan-details-end price-details-start] 1fr [price-details-end];
    grid-template-rows: 1fr;
  }
  .plan-card button {
    width: 100%;
  }
  .plan-details-wrapper {
    align-self: start;
    text-align: left !important;
  }
  .plan-details-wrapper p {
    text-align: left !important;
  }
  .price-details-wrapper {
    align-self: start;
    text-align: right !important;
  }
  .price-details-wrapper p {
    text-align: right !important;
  }
}

.minor-card {
  background-color: #f5f5f5;
  height: 40.7rem;
  padding: 5.6rem 4rem 4rem 4rem;
}
@media only screen and (max-width: 911px) {
  .minor-card {
    padding: 5.6rem 1rem 4rem 1rem;
  }
}

.minor-card h2,
h1 {
  color: black;
}
.minor-card p {
  color: gray;
  text-align: center;
}

.major-card {
  margin: 0 3rem;
  background-color: black;
  max-width: 35rem;
  height: 47rem;
  padding: 8.2rem 4rem 4rem 4rem;
}
@media only screen and (max-width: 911px) {
  .major-card {
    max-width: 100%;
    margin: 2.4rem 0;
    padding: 8.2rem 1rem 4rem 1rem;
  }
}

.major-card p {
  color: gray;
  text-align: center;
}

/* Compare Section */
.compare {
  width: 100%;
  padding-bottom: 16rem;
  text-align: center;
}

.compare-grid {
  margin: 5.6rem auto;
  max-width: 73.1rem;
  height: 55.2rem;

  display: grid;
  grid-template-columns: max-content [basic-start] 1fr [basic-end pro-start] 1fr [pro-end business-start] 1fr [business-end];
  grid-auto-rows: max-content;
  align-items: center;
  justify-items: center;
}
.compare-grid h4 {
  text-transform: uppercase;
  line-height: 1.6rem;
  display: inline-block;
  display: flex;
  align-items: center;
}
.compare-grid div {
  justify-self: stretch;
}
.compare-grid-title {
  margin-bottom: 2.3rem;
}
.compare-grid-subtitle {
  margin: 2.35rem 0;
}
.header-divider {
  height: 1px;
  background: #000;
  grid-column: 1 / 5;
}
.divider {
  height: 1px;
  background: var(--lightGrey);
  grid-column: 1 / 5;
}
.col-1 {
  margin-left: 2.4rem;
  justify-self: start !important;
}

.basic {
  grid-column: basic-start / basic-end;
}
.pro {
  grid-column: pro-start / pro-end;
}
.business {
  grid-column: business-start / business-end;
}

@media only screen and (max-width: 574px) {
  .home-section-text {
    flex-basis: 15%;
  }
  footer {
    height: 539px;
  }
  .footer-content {
    height: 427px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .footer-logo {
    margin-right: 0;
    margin-bottom: 3.2rem;
  }
  .social-icons {
    margin-bottom: 4.9rem;
  }
  .footer-links {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .footer-links > li {
    margin-right: 0 !important;
  }
  .footer-links > li:not(:last-child) {
    margin-bottom: 1.9rem !important;
  }
  .copywrite-container {
    height: auto;
    margin-left: 0;
    align-items: center;
    margin-top: auto;
  }
  .copywrite-container button {
    margin-bottom: 3.4rem;
  }
}
/*! Mobile Grid */
.mobile-grid {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  /* background-color: lightgreen; */
}
.mobile-grid-header {
  align-self: start;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.mobile-row-header {
  margin-bottom: 1.6rem;
}
.mobile-grid-divider {
  margin: 2.35rem 0;
  height: 1px;
}
.mobile-grid-divider--last {
  margin-bottom: 0;
}
.mobile-grid-divider--main {
  background-color: #000;
}
.mobile-grid-divider--minor {
  background-color: #dfdfdf;
}
.mobile-grid-row {
  /* background-color: lightcoral; */
  display: grid;
  justify-items: start;
  grid-template-columns: [basic-start] 1fr [basic-end pro-start] 1fr [pro-end business-start] 1fr [business-end];
  grid-template-rows: max-content [check-start] max-content [check-end];
}
.mobile-check {
  grid-row: check-start / check-end;
}
.mobile-basic {
  grid-column: basic-start / basic-end;
}
.mobile-pro {
  grid-column: pro-start / pro-end;
}
.mobile-business {
  grid-column: business-start / business-end;
}
@media only screen and (max-width: 940px) {
  .copywrite-container {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .compare {
    padding: 0 2.8rem 6.4rem 2.8rem;
  }
  .compare h1 {
    margin-bottom: 1.6rem;
  }
  .stories-wrapper {
    grid-template-columns: 1fr;
  }
  .stories-hero {
    height: 81.2rem;
    position: relative;

    padding-left: 0;
  }
  .stories-hero-bg-img {
    height: 31.7rem;
  }

  .home-section {
    height: auto;
    flex-direction: column;
  }
  .mobile-flip {
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 3.2rem;
  }
  .home-section--hero {
    height: 71.3rem;
  }
  .homepage-section {
    height: 69rem;
  }
  .homepage-text {
    padding: 0 2.4rem 0 3.3rem;

    height: 41.9rem;
  }
  .text-wrapper {
    width: 100%;
    height: auto;
  }
  /* Story */
  .stories-hero {
    flex-direction: column;
  }
  .story-hero-wrapper {
    width: 100%;
  }
  .stories-hero-bg-img {
    width: 100%;
    position: static;
  }
  .stories-hero-text-wrapper {
    background: #000;
    height: 49.5rem;
    width: 100%;
    padding: 0 2.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stories-hero-text {
    width: 100%;
    height: fit-content;
  }
  /* Features */
  .fp-img {
    width: 100%;
    height: 29.4rem;
  }
  .fp-section {
    height: 59.4rem;
  }
  .short-text-mobile {
    width: 100%;
    height: 30rem;
  }
  .features-info-section {
    padding-top: 6.4rem;
    padding: 6.4rem 3.3rem;
  }
  .features-info-wrapper {
    grid-template-columns: 1fr !important;
  }
  .beta-section-text-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .beta-section-text-wrapper > button {
    margin-top: 2.4rem;
  }
  /*! CARD */
  .plans {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    height: auto;
    align-items: flex-start;
  }
  .plans-wrapper {
    height: 100%;
    background: white;
  }
  .plan-card {
    height: 40.7rem !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .major-card {
    padding: 4.8rem 2.2rem !important;
  }
  .minor-card {
    padding: 5.6rem 2.2rem 4rem 2.2rem !important;
  }
  .price-details-wrapper p,
  h1 {
    text-align: center !important;
  }
  .plan-details-wrapper p,
  h2 {
    text-align: center !important;
  }

  .cards-wrapper {
    height: auto;
  }
  .copywrite {
    text-align: center;
    width: 79%;
  }
}
